body {
    font-family: 'Segoe UI' !important;
}

* {
    margin: 0;
    padding: 0;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 40rem;
    height: 40rem;
    border: 1px solid black;
}

.board-container{
    display: flex;
    justify-content: center;
    padding: 4rem 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
}

.text-center {
    font-size: 3rem;
    padding-top: 1rem;
}

.info-screen {
    font-size: 30px;
    padding-top: 2rem;
}

.bord-box {
    border: 1px solid rgb(92, 92, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 300;
}

.resetBtn {
    display: flex;
    justify-content: center;
}